* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html {
  height: 100%;
  text-align: center;
  font-family: Arial;
}
ul {
  list-style: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.layout {
  /*min-width: 1000px;*/
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.button {
  color: #fff;
  padding: 15px;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  background: #f7ba3e;
}
input {
  border: none;
}

